* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    font-family: "Inter";
    background-color: rgb(34, 34, 34);
    overflow: hidden;
}

.main {
    max-width: 655px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 19px rgb(137, 137, 137);

}

h1 {
    margin: 0.5em 0;
    color: aliceblue;
}

#input-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
}

input,
button {
    width: 25%;
    height: 40px;
    border: none;
}

select {
    width: 45%;
    height: 40px;
    font-size: 1.25rem;
    letter-spacing: 1px;

}

button {
    font-family: "Inter";
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

button,
select {
    background-color: white;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 5px;
}

#load-bar {
    display: none;
}

#loader {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 4px dotted rgb(8, 255, 86);
    animation: mymove 6s infinite;
}

@keyframes mymove {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#color-scheme {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(97, 99, 99);
}

.color-flex {
    width: 20%;
    height: 455px;
    display: flex;
}

.color-names {
    background-color: rgb(224, 224, 224);
    display: flex;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
}

.color-name {
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.copy {
    font-size: 0.75rem;
    color: magenta;
    margin: auto auto 0 auto;
    background-color: black;
    padding: 0.45em;
    margin-bottom: 1em;

}
